@import url("https://fonts.google.com/specimen/Poppins?query=popp");

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: bottom;
}

.container-intro{
  display: flex;
  margin-top: 20%;
  font-size: 6vw;
  font-family: "Helvetica Neue";
  font-weight: 500;
  background: linear-gradient(324deg, #2502FD 0%, #BC0CEC 7.7%, #FF0202 15.4%, #45A3B8 23.1%, #021BFF 30.8%, #020CFF 38.5%, #FD6B02 46.2%, #0C15EC 53.9%, #FF02C7 61.6%, #2D9BD2 69.3%, #6361C9 77%, #B9E015 84.7%, #4A9C48 92.3%,#FF0202  100%);
  /* background: linear-gradient(68deg, #2502FD 15%, #BC0CEC 30%, #FF0202 45%, #45A3B8 60% #B9E015 75%,  #f76a05 90%, #f76a05 100%); */
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 15s ease-in infinite;
  margin-bottom: 0;
}
@keyframes animate {
  to{
    background-position: 400%;
  }
}

.heading-info{
  font-size: 2vw;
  font-family: "Helvetica Neue";
  font-weight: 400;
  margin-top: -1vh;
  margin-bottom: 0;
}

.line {
  width: 50%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  /* margin: 10px 0 20px;  */
  font-family: "Helvetica Neue";
  margin-top: 5vh;
  margin-bottom: 0;
} 

p span { 
   background:#fff; 
   padding:0 10px;
   font-size: 20px; 
}

.login{
  color: #fff;
  background-color: #272323;
  border-color: #272323;
  width: 8vw;
  border-radius: 10px;
  font-weight: 700;
  font-size: large;
}

.signup{
  font-size: large;
  text-decoration: underline;
  width: 8vw;
  font-weight: 700;
  font-family: "Helvetica Neue";
}
