@import url("https://fonts.google.com/specimen/Poppins?query=popp");

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: bottom;
}

.container-intro{
  display: flex;
  margin-top: 20%;
  font-size: 6vw;
  font-family: "Helvetica Neue";
  font-weight: 500;
  
}

.heading-info{
  font-size: 2vw;
  font-family: "Helvetica Neue";
  font-weight: 400;
  margin-top: -2vh;
}

.line {
  width: 50%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

p span { 
   background:#fff; 
   padding:0 10px;
   font-size: 20px; 
}

.login{
  color: #fff;
  background-color: #272323;
  border-color: #272323;
  width: 8vw;
  border-radius: 10px;
  font-weight: 700;
  font-size: large;
}

.signup{
  font-size: large;
  text-decoration: underline;
  width: 8vw;
}
